# folders
/build

# compilation artefacts and executables
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

# vscode
.vscode

# macOS
.DS_Store

# LSP
.ccls-cache/
